<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="images/vuejs.ico" />
    <title>Experiments with VueJS</title>
    <link rel="stylesheet" href="styles/style2.css">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <!-- <script src="scripts/expVueJS.js"></script> -->
</head>

<body>
    <div id="root">
        <p>Reactivity example</p>
        <input type="text" id="input" v-model="message" />
        <p>The value of the input is: {{message}}.</p>
        <p>The reverse of the input is: {{message.split('').reverse().join('')}}.</p>
        <hr/>
        <p>Example of Dynamic List</p>
        <p>List of Willys CoWorking Space:</p>
        <ol>
            <!-- <li v-for="name in names">{{name}}</li> -->
            <li v-for="name in names" v-text="name"></li>
        </ol>
        <input type="text" v-model="newMember" />
        <button v-bind:disabled="disabled" v-on:click="addMember">Add Memmber</button>
        <br/>
        <input type="text" v-model="memberToRemove" />
        <button v-bind:disabled="disabled" v-on:click="removeMember" v-bind:title="title">Remove Memmber</button>
        <!-- <button @click="removeMember" :title="title">Remove Memmber</button> -->
        <br/>
        <button v-on:click="disableEnable" title="Disable / Enable buttons">Disable/Enable buttons</button>
        <hr/>
    </div>
    




    <script>
        var app = new Vue({
            el: '#root',
            data: {
                message: 'Hello World',
                newMember: '',
                memberToRemove: '',
                title: 'Remove Member by Name or ID',
                disabled : true,
                names: ['Zlatka', 'GodGift', 'Tommy', 'Atanas', 'Ilia'],
            },
            methods: {
                addMember() {
                    if (this.newMember != '') {
                        this.names.push(this.newMember);
                        this.newMember = '';
                    }
                },
                removeMember() {
                    if (this.names.includes(this.memberToRemove)) {
                        let index = this.names.indexOf(this.memberToRemove);
                        this.names.splice(index, 1);
                    } else if (Number(this.memberToRemove) >= 1 && Number(this.memberToRemove) <= this.names.length) {
                        let index = Number(this.memberToRemove) - 1;
                        this.names.splice(index, 1);
                    } else {
                        alert("No such member or member with that number!")
                    }
                    this.memberToRemove = '';
                },
                disableEnable() {
                    this.disabled = !this.disabled;
                },
            }
        });


        //document.querySelector('#input').value = app.data.message;
    </script>

</body>

</html>