<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="images/vuejs.ico" />
    <title>Message Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <style type="text/css">
        body {
            padding-top: 40px;
        }
    </style>
    <script src="scripts/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

</head>

<body>

    <div id="root" class="container">

        <message-list v-bind:messages="messages"></message-list>
        <br/>
        <div class="container">
            <button class="button is-dark is-medium" @click="showAll">Show All Messages</button>
            <br/>
            <input type="text" class="input is-large" v-model="messageTitle" placeholder="Title of New Message" />
            <br/>            
            <textarea class="textarea is-large" v-model="messageBody" placeholder="Body of New Message"></textarea>
            <br/>
            <button class="button is-dark is-medium" @click="addMessage">Add New Message</button>
        </div>
    </div>

    <script src="scripts/messageboard.js"></script>

</body>

</html>