body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
    z-index: 2;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear 17s;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

.intro {
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 1;
    width: 20em;
    margin: 0 0 0 (-15em / 2);
    font-size: 200%;
    font-weight: 400;
    color: rgb(75, 213, 238);
    opacity: 0;
    animation: intro 6s ease-out 1s;
}

.logo {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 1;
    opacity: 0;
    animation: logo 9s ease-out 9s;
}

.logo svg {
    width: inherit;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        width: 28em;
        margin: (-28em / 2) 0 0 (-28em / 2);
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 28em;
        margin: (-28em / 2) 0 0 (-28em / 2);
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
        width: 28em;
        margin: (-28em / 2) 0 0 (-28em / 2);
    }
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
