<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" />
    <title>Skill App with Gary Simon</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vee-validate@latest"></script>
</head>

<body>
    <div id="app" v-cloak>
    </div>

    <script type="text/x-template" id="skills-template">
        <div class="hello">
            <div class="holder">            
                <form @submit.prevent="addSkill">
                    <input type="text" placeholder="Enter a skill you have.." v-model="skill" v-validate="'min:5'" name="skill">                
                    <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                        <p class="alert" v-if="errors.has('skill')">{{ errors.first('skill') }}</p>
                    </transition>
                </form>                
                <ul>
                    <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
                        <li v-for="(data, index) in skills" :key='index'>
                            {{ data.skill }}
                            <i class="fa fa-minus-circle" v-on:click="remove(index)"></i>
                        </li>
                    </transition-group>
                </ul>                
                <p>These are the skills that you possess.</p>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="about-template">
        <div class="about">
            <h1>Hello {{ their_name }}, this is an about page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali...</p>
        </div>
    </script>

    <script type="text/x-template" id="contact-template">
        <div class="contact">
            <h3>Contact information:</h1>
            <p>Github, Gitlab: willystyle7</p>
            <p>Skype: willystyle2</p>
            <p>Email: ilia111@yahoo.com</p>
        </div>
    </script>

    <script type="text/x-template" id="main-template">
        <div class="main">
            <nav>
                <router-link to="/">Home</router-link>
                <router-link to="/about">About</router-link>
                <router-link to="/contact">Contact</router-link>
            </nav>          
            <router-view />
        </div>
    </script>


    <script src="skillApp.js"></script>
</body>

</html>