body {
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  label.radio {
    margin-right: 20px;
  }
  .result {
    margin-top: 15px;
    border-top: 1px solid #DDD;
    padding-top: 15px;
  }