@font-face {
    font-family: Futura-book;
    src: url(futura-book-593ae5032f958.otf);
}

@font-face {
    font-family: Digital-7;
    src: url('digital-7.ttf') format('truetype');
}

body {
    background-color: whitesmoke;
    font-family: Futura-book;
    font-size: 30px;
    padding-left: 40px
}

/* input[type=text], */

button {
    background-color: cadetblue;
    padding: 17px;
    border: 5px solid rgb(12, 11, 11);
    border-radius: 10px;
    font-family: Futura-book;
    font-size: 20px;
}

.input {
    background-color: cadetblue;
    padding: 17px;
    border: 5px solid rgb(12, 11, 11);
    border-radius: 10px;
    text-align: right;
    width: 259px;
    height: 25px;
    font-family: Digital-7;
    font-size: 44px;
}

h2 {
    text-align: left;
    font-size: 27pt;
    margin-top: 1%;
}

.digit,
.operators,
.calculate,
.clean,
.backspace,
.sign {
    width: 70px;
    height: 70px;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgba(12, 12, 12, 0.123);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(112, 108, 108);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(65, 65, 6);
    background-color: transparent;
    text-decoration: underline;
}