@font-face {
    font-family: Futura-book;
    src: url(futura-book-593ae5032f958.otf);
}

body {
    background-color: whitesmoke;
    font-family: Futura-book;
    font-size: 20px;
}

input {
    width: 10%;
}