@font-face {
    font-family: Futura-book;
    src: url(futura-book-593ae5032f958.otf);
}

* {
    margin: 5;
    padding: 5;
    font-family: Futura-book;
    font-size: 16pt;
}

body {
    background-color: whitesmoke;
}

input[type=text] {
    text-align: right;
    width: 250px;
    height: 25px;
    background-color: cadetblue;
    padding: 17px;
    border: 5px solid rgb(12, 11, 11);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

h2 {
    text-align: left;
    font-size: 27pt;
    margin-top: 1%;
}

button {
    width: 70px;
    height: 70px;
    background-color: cadetblue;
    padding: 17px;
    border: 5px solid rgb(12, 11, 11);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
